{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">

            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">
                        Update Homework
                    </h4>

                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <div class="d-grid mt-3">
                            <button type="submit" class="btn btn-primary">
                                Update Homework
                            </button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}